<configuration>
    <packageSources>
        <add key="aruba-nexus-nuget-arch" value="https://nexusrepo.aruba.it/repository/nuget-arch" />
		<add key="aruba-nuget-devspa-progettigenerali-prerelease" value="https://nexusrepo.aruba.it/repository/nuget-devspa-progettigenerali-prerelease" />
    </packageSources>
</configuration>