###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.sh text=lf